body {
    background-color: #555;
    color: #fff;
}

a, a:hover {
    color: #fe7800;
    font-weight: bold;
}

li {
    vertical-align: middle;
}

#cook {
    color: #fff;
    background-color: #fe7800;
    border: 0;
}

#cook:hover {
    background-color: #cb6000;
}

.card {
    color: #fe7800;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.3fr 3fr 0.2fr;
    grid-template-areas: "header header" "title title" "body body" "footer footer";
}
  
.header { 
    grid-area: header;
    background-color: #fe7800;
    border-bottom: 3px solid #fff;
}
  
.title {
    grid-area: title;
    border-top: 3px solid #fff;
    border-bottom: 6px solid #fff;
}
      
.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hotnready devoured";
    grid-area: body;
}

.hotnready {
    grid-area: hotnready;
    border-right: 3px solid #fff;
}

.devoured {
    grid-area: devoured;
    border-left: 3px solid #fff;
}

.footer {
    grid-area: footer;
    border-top: 6px solid #fff;
}